<ul>
    <li><a href="{{ path("homepage") }}">Accueil</a></li>
    <li><a href="{{ path("testLaRoute", {"year":2011,"slug":"test"}) }}">2011/test en Response (pas en html)</a></li>
    <li><a href="{{ path("second")}}">Second (RouterInterface)</a></li>
    <li><a href="{{ path("http_request_home")}}">Requêtes HTTP</a></li>
</ul>
